# Copy from simple.cfg
#
# A simple configuration file for a robot running arounds Kingsbury
# Hall, University of New Hampshire.
#

# load the Stage plugin simulation driver
driver
(		
        name "stage"
	provides [ "simulation:0" ]
	plugin "stageplugin"

	# load the named file into the simulator
	worldfile "kingsbury_secondfloor.world"	
)

# Create a Stage driver and attach position2d and laser interfaces 
# to the model "r0"
driver
( 
        name "stage"
	provides [ "position2d:0"
	  	   "laser:0"
	  	   "speech:0"
		   "graphics2d:0"
		   "graphics3d:0" ]
        model "r0" 
)

